# Core Dependencies
Django==4.2.21
mysqlclient==2.2.0
python-decouple==3.8

# Security
django-debug-toolbar==4.2.0
django-secure==1.0.2

# User Interface
django-crispy-forms==2.0
crispy-bootstrap5==0.7

# Development Tools
black==23.3.0
flake8==6.0.0
pytest==7.3.1
pytest-django==4.5.2
coverage==7.2.5

# Documentation
sphinx==7.1.2
sphinx-rtd-theme==1.2.0
